### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [4]:
# File to Load (Remember to Change These)
file = ("../Matplot/PurchaseData.csv")

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [18]:
# Total number of players 
TotalPlayers =len(df['SN'].unique())
# Data Frame for num_players
pd.DataFrame({"Total players": [TotalPlayers]})

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
UniqueItems = len(df["Item ID"].unique())
UniqueItems

AvgPrice = df["Price"].mean()
AvgPrice

TotalPurchases = len(df)
TotalPurchases

TotalRevenue = df["Price"].sum()
TotalRevenue

Table = {"Unique Items": UniqueItems, "Average Price": AvgPrice, "Total Purchases": TotalPurchases, "Total Revenue": TotalRevenue} 
            
Table

pd.DataFrame(Table, index=[0])

   Unique Items  Average Price  Total Purchases  Total Revenue
0           183       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
UniqueGender = df.drop_duplicates("SN")

Genderdf = UniqueGender.groupby(['Gender']).count()["SN"]
Genderdf 
Percentage = Genderdf/TotalPlayers
#Percentage = Percentage.style("{:.2%}")


GenderTable = {"Total Count": Genderdf, "Percentage of Players": Percentage}
gender_df = pd.DataFrame(GenderTable)

gender_df.style.format({
    'Percentage of Players': '{:,.2%}'.format,
})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
G_TotalPurchases = df.groupby(["Gender"]).sum()["Price"]
G_TotalPurchases

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [106]:
G_Avg = df.groupby(["Gender"]).mean()["Price"]
G_Avg

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [107]:
G_Counts = df.groupby(["Gender"]).count()["Price"]
G_Counts

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [64]:
G_AvgPerPerson = G_TotalPurchases / Genderdf
G_AvgPerPerson

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [65]:
gender_data = pd.DataFrame({"Purchase Count": G_Counts, 
                            "Average Purchase Price": G_Avg,
                            "Total Purchase Value": G_TotalPurchases, 
                            "Avg Total Purchase per Person": G_AvgPerPerson})

gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [51]:

# Create the bins in which Data will be held
# Bins are 0, 60, 70, 80, 90, 100
bins = [5, 10, 15, 20, 25, 30, 35, 40]

# Create the names for the four bins
group_names = ["Youngest", "Teen", "YA", "Adult", "Parents", "Older", "Oldest"]

df["Age Names"] = pd.cut(df["Age"], bins, labels=group_names)
df["Age Names"].head()

#how do i add numbers and percentages...
AgeNames = df.groupby(['Age Names']).count()["Age"]
AgeNames 

AgePercentage = AgeNames / TotalPlayers
AgePercentage

AgeTable = {"Total Count": AgeNames, "Percentage of Players": AgePercentage}
Agedf = pd.DataFrame(AgeTable)
Agedf

           Total Count  Percentage of Players
Age Names
Youngest            32               0.055556
Teen                54               0.093750
YA                 200               0.347222
Adult              325               0.564236
Parents             77               0.133681
Older               52               0.090278
Oldest              33               0.057292

1. bins grouped together
2. total players
3. ages

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
# Create the bins in which Data will be held
# Bins are 0, 60, 70, 80, 90, 100
bins = [5, 10, 15, 20, 25, 30, 35, 40]

# Create the names for the four bins
group_names = ["Youngest", "Teen", "YA", "Adult", "Parents", "Older", "Oldest"]

df["Age Names"] = pd.cut(df["Age"], bins, labels=group_names)
df["Age Names"].head()

0        YA
1    Oldest
2     Adult
3     Adult
4     Adult
Name: Age Names, dtype: category
Categories (7, object): [Youngest < Teen < YA < Adult < Parents < Older < Oldest]

In [53]:
df["Age Names"].head()

0        YA
1    Oldest
2     Adult
3     Adult
4     Adult
Name: Age Names, dtype: category
Categories (7, object): [Youngest < Teen < YA < Adult < Parents < Older < Oldest]

In [108]:
A_TotalPurchases = df.groupby(["Age Names"]).sum()["Price"]
A_TotalPurchases 

A_Avg = df.groupby(["Age Names"]).mean()["Price"]
A_Avg

A_Counts = df.groupby(["Age Names"]).count()["Price"]
A_Counts

A_AvgPerPerson = A_TotalPurchases / AgeNames
A_AvgPerPerson

A_AvgPerPerson

Age Names
Youngest    3.405000
Teen        2.900000
YA          3.107800
Adult       3.020431
Parents     2.875584
Older       2.994423
Oldest      3.404545
dtype: float64

In [109]:
PurchaseAnal = pd.DataFrame({"Purchase Count": A_Counts, 
                            "Total Purchase Value": A_TotalPurchases, 
                            "Average Purchase Price": A_Avg,
                            "Avg Total Purchase per Person": A_AvgPerPerson})

PurchaseAnal

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Age Names,,,,
Youngest,32,108.96,3.405000,3.405000
Teen,54,156.60,2.900000,2.900000
YA,200,621.56,3.107800,3.107800
Adult,325,981.64,3.020431,3.020431
Parents,77,221.42,2.875584,2.875584
Older,52,155.71,2.994423,2.994423
Oldest,33,112.35,3.404545,3.404545

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [110]:
Spender_Counts = df.groupby(["SN"]).count()["Price"]
Spender_Counts

Spender_Avg = df.groupby(["SN"]).mean()["Price"]
Spender_Avg

Spender_TotalValue = (Spender_TotalPurchases * Spender_Avg)
Spender_TotalValue.head()

SN
Adairialis76     5.1984
Adastirin33     20.0704
Aeda94          24.1081
Aela59          18.6624
Aelaria33        3.2041
dtype: float64

In [97]:
SpenderData = pd.DataFrame({"Purchase Count": Spender_Counts,
                            "Total Purchase Amount": Spender_TotalPurchases,
                            "Total Purchase Value": Spender_TotalValue})


SpenderData.sort_values("Total Purchase Value", ascending=False).head(5)

             Purchase Count  Total Purchase Amount  Total Purchase Value
SN
Lisosia93                 5                  18.96             71.896320
Chamjask73                3                  13.83             63.756300
Idastidru52               4                  15.45             59.675625
Iskadarya95               3                  13.10             57.203333
Ilarin91                  3                  12.70             53.763333

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [75]:
PopularItems = df.groupby(["Item ID", "Item Name"]).sum()["Price"]
PopularItems.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [93]:
Popular_TotalPurchases = df.groupby(["Item Name"]).sum()["Price"]
Popular_TotalPurchases.head()

Item Name
Abyssal Shard                     13.35
Aetherius, Boon of the Blessed    16.95
Agatha                            18.48
Alpha                              6.21
Alpha, Oath of Zeal               12.15
Name: Price, dtype: float64

In [101]:
Popular_Counts = df.groupby(["Item Name"]).count()["Price"]
Popular_Counts

Popular_Avg = df.groupby(["Item Name"]).mean()["Price"]
Popular_Avg

Popular_TotalValue = (Popular_Counts * Popular_Avg)
Popular_TotalValue.head()

Item Name
Abyssal Shard                     13.35
Aetherius, Boon of the Blessed    16.95
Agatha                            18.48
Alpha                              6.21
Alpha, Oath of Zeal               12.15
dtype: float64

In [102]:
PopularData = pd.DataFrame({"Purchase Count": Popular_Counts,
                            "Total Purchase Amount": Popular_Avg,
                            "Total Purchase Value": Popular_TotalValue})

PopularData.sort_values("Total Purchase Amount", ascending=False).head(5)

,Purchase Count,Total Purchase Amount,Total Purchase Value
Item Name,,,
Stormfury Mace,2,4.99,9.98
"Mercy, Katana of Dismay",5,4.94,24.70
"Hellreaver, Heirloom of Inception",3,4.93,14.79
Stormfury Longsword,2,4.93,9.86
"Blazeguard, Reach of Eternity",5,4.91,24.55

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [103]:
PopularData.sort_values("Total Purchase Value", ascending=False).head(5)

,Purchase Count,Total Purchase Amount,Total Purchase Value
Item Name,,,
Final Critic,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
Nirvana,9,4.900000,44.10
Fiery Glass Crusader,9,4.580000,41.22
Singed Scalpel,8,4.350000,34.80